In [1]:
import pandas as pd                         #importing pandas library

In [2]:
df=pd.read_excel("in1.xlsx")                            #opening the input file

In [3]:
#making a list with all the test names

l=["Name","id","Concept Test 1 - score","Concept Test 2 - score","Concept Test 3 - score",
"Concept Test 4 - score","Concept Test 5 - score","Topic Test 1 - score","Topic Test 2 - score",
"Full Chapter Test 1 - score","Full Chapter Test 2 - score"]

# melting the dataframe to shape it so as if in the output

df1=pd.melt(df,id_vars=("Name", "id","Chapter Tag"),
var_name="Test_name",value_vars=l,value_name="Score")

In [4]:
# dropping the "-" records for students who didnt attend the test

df1.drop(df1.loc[df1['Score']=="-"].index, inplace=True)

#sorting the values by alphabatic order

df1=df1.sort_values("Name",ignore_index=True)
df1

        Name  id Chapter Tag                    Test_name Score
0    Darshan  34       C8S11       Concept Test 1 - score     4
1    Darshan  34       C8S11  Full Chapter Test 1 - score     6
2    Darshan  34       C8S11       Concept Test 5 - score     3
3    Darshan  34       C8S11       Concept Test 2 - score     1
4    Darshan  34       C8S11  Full Chapter Test 2 - score     6
..       ...  ..         ...                          ...   ...
100  Vignesh  47       C8S11       Concept Test 3 - score     1
101  Vignesh  47       C8S11         Topic Test 2 - score     6
102  Vignesh  47       C8S11       Concept Test 1 - score     3
103  Vignesh  47       C8S11       Concept Test 4 - score     2
104  Vignesh  47       C8S11         Topic Test 1 - score     3

[105 rows x 5 columns]

In [5]:
df.stack().head(10)

0  Name                                     Darshan
   id                                            34
   Chapter Tag                                C8S11
   Concept Test 1 - score                         4
   Concept Test 1 - time-taken (seconds)        118
   Concept Test 1 - answered                      4
   Concept Test 1- correct                        4
   Concept Test 1- wrong                          0
   Concept Test 1- skipped                        1
   Concept Test 2 - score                         1
dtype: object